<div class="min-h-screen flex items-center justify-center bg-customGreen p-4">
  <div class="w-full max-w-lg p-8">
    <div class=" font-bold mb-8 text-center text-white text-4xl">ログイン</div>
    <%= form_with url: login_path, class: "px-8 pt-6 pb-8 mb-4 rounded-lg" do |f| %>
      <div class="mb-6">
        <%= f.label :email, 'メールアドレス', class: "block text-white text-2xl font-bold mb-4" %>
        <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:shadow-outline text-xl rounded-md" %>
      </div>
      <div class="mb-8">
        <%= f.label :password, 'パスワード', class: "block text-white text-2xl font-bold mb-4" %>
        <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:shadow-outline text-xl rounded-md" %>
      </div>
      <div class="flex items-center justify-center">
        <%= f.submit "ログイン", class: "text-white font-bold text-2xl hover:text-gray-300", data: { turbo: false } %>
      </div>

      <div class="text-center flex justify-center bg-white rounded-3xl p-2 mt-4">
        <%= link_to auth_at_provider_path(provider: :google), class: 'login-container flex items-center font-bold text-xl' do %>
          <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="30" height="30" class="mr-2">
          <span class="font-bold text-xl text-customGreen1">Googleでログイン</span>
        <% end %>
      </div>

    <% end %>
    <div class="text-center mt-6">
      <%= link_to '登録ページへ', new_user_path, class: "text-white text-2xl font-bold hover:text-gray-300", data: { turbo: false } %>
    </div>
  </div>
</div>
