<div class="min-h-screen flex items-center justify-center p-8">
  <div class="p-8 rounded-lg shadow-lg w-full max-w-7xl bg-white">
    <h1 class="font-bold text-center mb-8 text-4xl">ユーザー登録</h1>
    <% if @user.errors.any? %>
      <div class="bg-red-500 text-white p-4 mb-6 rounded">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="p-6 rounded-lg">
      <%= form_with model: @user, class: "space-y-6 flex flex-col justify-center items-center" do |f| %>
        <div class="mb-4 w-full">
          <%= f.label :name, "ニックネーム", class: "block text-2xl font-bold" %>
          <%= f.text_field :name, class: "form-input mt-1 block w-full text-xl text-black bg-gray-200 rounded-md" %>
        </div>
        <div class="mb-4 w-full">
          <%= f.label :email, "メールアドレス", class: "block text-2xl font-bold" %>
          <%= f.email_field :email, class: "form-input mt-1 block w-full text-xl text-black bg-gray-200 rounded-md" %>
        </div>
        <div class="mb-4 w-full">
          <%= f.label :password, "パスワード", class: "block text-2xl font-bold" %>
          <%= f.password_field :password, class: "form-input mt-1 block w-full text-xl text-black bg-gray-200 rounded-md" %>
        </div>
        <div class="mb-4 w-full">
          <%= f.label :password_confirmation, "パスワード確認", class: "block text-2xl font-bold" %>
          <%= f.password_field :password_confirmation, class: "form-input mt-1 block w-full text-xl text-black bg-gray-200 rounded-md" %>
        </div>
        <div class="text-center mt-6">
          <%= f.submit "登録", class: "text-2xl bg-blue-500 text-white font-bold py-4 px-12 rounded-lg hover:scale-105 duration-300 cursor-pointer", data: { turbo: false } %>
        </div>
      <% end %>
      <div class="text-center  py-4">
        <%= link_to 'ログインページへ', login_path, class: "text-2xl font-bold", data: { turbo: false } %>
      </div>
    </div>
  </div>
</div>
