<header>
  <nav class="bg-customGreen opacity-95">
    <div class=" mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex items-center">
          <%= link_to 'コドラ', root_path, class: "text-white font-bold text-xl", data: { turbo: false } %>
        </div>
        <div class="hidden sm:flex sm:items-center sm:space-x-4">
          <%= link_to '新規投稿作成', new_post_path, class: 'text-white hover:bg-opacity-70 hover:text-white px-3 py-2 rounded-md text-sm font-medium font-bold', data: { turbo: false } %>
          <%= link_to 'イベント一覧', posts_path, class: 'text-white hover:bg-opacity-70 hover:text-white px-3 py-2 rounded-md text-sm font-medium font-bold', data: { turbo: false } %>
          <%= link_to 'マイページ', user_path(current_user), class: 'text-white hover:bg-opacity-70 hover:text-white px-3 py-2 rounded-md text-sm font-medium font-bold', data: { turbo: false } %>
           <!--イベント一覧のAddUserIdToPostsの投稿者表示を流用-->
          <% if current_user %>
            <p class="text-white hover:bg-opacity-70 hover:text-white px-3 py-2 rounded-md text-sm font-medium font-bold">ログイン中: <%= current_user.name %></p>
          <% else %>
            <p class="text-white hover:bg-opacity-70 hover:text-white px-3 py-2 rounded-md text-sm font-medium font-bold">未ログインユーザー</p>
          <% end %>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
          <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-white hover:bg-opacity-70 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-button">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="sm:hidden hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <%= link_to 'イベント一覧', posts_path, class: 'text-white hover:bg-opacity-70 hover:text-white block px-3 py-2 rounded-md text-base font-medium', data: { turbo: false } %>
        <% if current_user %>
          <%= link_to 'マイページ', user_path(current_user), class: 'text-white hover:bg-opacity-70 hover:text-white block px-3 py-2 rounded-md text-base font-medium', data: { turbo: false } %>
          <%= link_to '新規投稿作成', new_post_path, class: 'text-white hover:bg-opacity-70 hover:text-white block px-3 py-2 rounded-md text-base font-medium', data: { turbo: false } %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
