<div class="min-h-screen flex items-center justify-center bg-customGreen p-8">
  <div class="w-full max-w-6xl">
    <h1 class="font-bold text-center text-white mb-8 text-4xl">投稿一覧</h1>
    <div class="text-center mb-8">
      <%= link_to '新規投稿作成', new_post_path, class: "text-white bg-customYellow hover:bg-yellow-700 font-bold py-2 px-4 rounded" %>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @posts.each do |post| %>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <% if post.image.present? %>
            <img src="<%= post.image %>" alt="画像" class="rounded mb-4">
          <% end %>
          <p class="text-xl mb-2 font-semibold">イベント名: <%= post.title %></p>
          <p class="text-lg mb-2">都道府県: <%= post.location %></p>
          <p class="text-lg mb-4">期間: <%= post.start_date %> 日 ~ <%= post.end_date %> 日まで開催</p>
          <div class="text-center">
          <%= link_to '詳細を見る', post_path(post), class: "text-blue-500 hover:text-blue-700 text-xl font-bold mt-4" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
