<div class="min-h-screen flex items-center justify-center p-8">
  <div class="w-full max-w-7xl">

    <!-- グーグルマップ表示 -->
    <div id="post_index_map" style="height: 600px;" class= "rounded-3xl"></div>

    <script>
      function initIndexMap() {
        if (document.getElementById("post_index_map")) {
          const mapElement = document.getElementById('post_index_map');
          const mapOptions = {
            center: { lat: 35.6803997, lng: 139.7690174 },
            zoom: 6
          };

          const map = new google.maps.Map(mapElement, mapOptions);

          <% Post.all.each do |post| %>
            (function() {
              const marker = new google.maps.Marker({
                position: { lat: <%= post.latitude %>, lng: <%= post.longitude %> },
                map: map,
                title: '<%= j post.title %>'
              });

              let imageTag = '';
              <% if post.post_image.present? %>
                imageTag = `<img src="<%= post.post_image.url %>" alt="画像" class="w-full h-48 object-cover">`;
              <% else %>
                imageTag = `<img src="<%= asset_path('default.png') %>" alt="デフォルト画像" class="w-full h-48 object-cover">`;
              <% end %>

              const infowindow = new google.maps.InfoWindow({
                content: `<div class="flex flex-col md:flex-row items-center">
                            <div class="w-full md:w-1/2">
                              ${imageTag}
                            </div>
                            <div class="w-full md:w-1/2 p-4 text-center">
                              <p class="text-xl mb-4"><strong>イベント名:</strong> <br>
                                <%= link_to post.title, post_path(post), class: 'text-blue-500 underline font-bold block hover:scale-105 duration-300 cursor-pointer', data: { turbo: false } %>
                              </p>
                              <p class="text-gray-700 my-6 font-bold text-base md:text-xl"><%= j post.address %></p>
                            </div>
                          </div>`
              });

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            })();
          <% end %>
        }
      }
    </script>


    <!-- ピックアップイベント -->
    <div class="row mb-4">
      <div class="col-12">
        <h1 class = "font-bold text-center text-customRed my-6 text-5xl">PICKUP!!</h1>
        <div class="row">
          <% if @pick_up_posts.present? %>
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6 mt-8">
              <% @pick_up_posts.each do |post| %>
                <div class="bg-white px-4 py-4 mb-4 text-center rounded-3xl">
                  <% if post.post_image.present? %>
                    <img src="<%= post.post_image.url %>" alt="画像" class="mt-4 w-full h-64 object-cover rounded-3xl">
                  <% else %>
                    <img src="<%= asset_path('default.png') %>" alt="デフォルト画像" class="my-4 w-full h-64 object-cover rounded-3xl">
                  <% end %>
                  <% if post.user %>
                    <p class="text-2xl"><strong>投稿者:</strong> <br> <%= post.user.name %></p>
                  <% else %>
                    <p class="text-2xl"><strong>投稿者:</strong> <br>未ログインユーザー</p>
                  <% end %>
                  <p class="text-2xl mb-4"><strong>イベント名:</strong> <br>
                    <%= link_to post.title, post_path(post), class: 'text-blue-500 underline block hover:scale-105 duration-300 cursor-pointer', data: { turbo: false } %>
                  </p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- 投稿一覧-->
    <h1 class="font-bold text-center my-6 text-4xl">投稿一覧</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8 text-center">
      <% @posts.each do |post| %>
        <div class="bg-white px-4 py-4 mb-4 rounded-3xl">
          <% if post.post_image.present? %>
            <img src="<%= post.post_image.url %>" alt="画像" class="mt-4 w-full h-64 object-cover rounded-3xl">
          <% else %>
            <img src="<%= asset_path('default.png') %>" alt="デフォルト画像" class="my-4 w-full h-64 object-cover rounded-3xl">
          <% end %>
          <% if post.user %>
            <p class="text-2xl"><strong>投稿者:</strong> <br> <%= post.user.name %></p>
          <% else %>
            <p class="text-2xl"><strong>投稿者:</strong> <br>未ログインユーザー</p>
          <% end %>
          <p class="text-2xl mb-4"><strong>イベント名:</strong> <br>
            <%= link_to post.title, post_path(post), class: 'text-blue-500 underline block hover:scale-105 duration-300 cursor-pointer', data: { turbo: false } %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="mt-6">
      <%= paginate @posts %>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initIndexMap" async defer></script>
