<!DOCTYPE html>
<html>
<head>
  <title>コドラ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= javascript_include_tag "google_maps", type: "module" %>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>

</head>
<body onload="initMap()" class="flex flex-col min-h-screen bg-gray-100">
  <% if logged_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>

  <% flash.each do |key, message| %>
    <div class="flash <%= key %> bg-<%= key == 'notice' ? 'green' : 'red' %>-500 text-white bg-custom-Green p-4 rounded">
      <%= message %>
    </div>
  <% end %>

  <main class="flex-grow bg-customGreen">
    <%= yield %>
  </main>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
</body>
</html>
